In [0]:
df.show()

In [0]:
df = spark.read.csv("/Workspace/2010-summary.csv", header=True, inferSchema=True)
display(df)

In [0]:
data = """DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,Romania,1
United States,Ireland,264
United States,India,69
Egypt,United States,24
Equatorial Guinea,United States,1
United States,Singapore,25
United States,Grenada,54
Costa Rica,United States,477
Senegal,United States,29
United States,Marshall Islands,44
Guyana,United States,17
United States,Sint Maarten,53
Malta,United States,1
Bolivia,United States,46
Anguilla,United States,21"""

with open("/Workspace/output.csv", "w") as file:
    file.write(data)

In [0]:
df=spark.read.csv("/Workspace/output.csv", header=True, inferSchema=True, mode="ignore")
display(df)

In [0]:
%python

In [0]:
df.spark.read.csv("/Workspace/Users/deepakpvinodsharma@gmail.com/2010-summary.csv", header=True, inferSchema=True, mode="ignore").write

In [0]:
%python
df = spark.read.csv(
    "/Workspace/Users/deepakpvinodsharma@gmail.com/2010-summary.csv",
    header=True,
    inferSchema=True,
    mode="ignore"
)
display(df)

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
data = [
    ("United States", "Romania", 1),
    ("United States", "Ireland", 264),
    ("United States", "India", 69),
    ("Egypt", "United States", 24),
    ("Equatorial Guinea", "United States", 1),
    ("United States", "Singapore", 25),
    ("United States", "Grenada", 54),
    ("Costa Rica", "United States", 477),
    ("Senegal", "United States", 29),
    ("United States", "Marshall Islands", 44),
    ("Guyana", "United States", 17),
    ("United States", "Sint Maarten", 53),
    ("Malta", "United States", 1),
    ("Bolivia", "United States", 46),
    ("Anguilla", "United States", 21),
    ("Turks and Caicos Islands", "United States", 136),
    ("United States", "Afghanistan", 2),
    ("Saint Vincent and the Grenadines", "United States", 1),
    ("Italy", "United States", 390),
    ("United States", "Russia", 156),
    ("United States", "Federated States of Micronesia", 48),
    ("Pakistan", "United States", 9),
    ("United States", "Netherlands", 570),
    ("Iceland", "United States", 118),
    ("Marshall Islands", "United States", 77)
]
schema = ["origin", "destination", "count"]
Flight_df = spark.createDataFrame(data, schema)
display(Flight_df)

In [0]:
data = [(1, 2), (2, 1), (3, 4), (4, 5)]
schema = ["id", "value"]
Test_df = spark.createDataFrame(data, schema)
display(df)

In [0]:
df.printSchema()
df.show()

In [0]:
Test_df.select("id").show()

In [0]:
Test_df.select(col("id") +5).show()

ALIAS TOOL

In [0]:
Test_df.select(col("id").alias("Employee_id"),"Value").show()

Filter in df

In [0]:
Flight_df.select("*").filter(col("count") > 100).show()
Flight_df.select("origin", "destination").show(truncate=False)

IF ELSE IN PYSPARK

In [0]:

emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]
emp_schema = ["id","name","age","salary","country","department"]
emp_df = spark.createDataFrame(emp_data,emp_schema)
display(emp_df)

In [0]:
from pyspark.sql.functions import when, col

emp_df.withColumn("adult", 
                  when(col("age") >= 18, "Yes")
                  .when(col("age") < 18, "No")
                  .otherwise("Unknown")
                 ).show()

Sort comand

In [0]:
sorted_ages_df = emp_df.orderBy("age")
display(sorted_ages_df)

In [0]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]
leet_code_schema = ["id", "name", "referred_by"]
leet_code_df = spark.createDataFrame(leet_code_data, leet_code_schema)
display(leet_code_df)

In [0]:
from pyspark.sql.functions import col

not_referred_by_2_df = leet_code_df.filter((leet_code_df.referred_by != 2) | col("referred_by").isNull())
display(not_referred_by_2_df)

In [0]:
%fs ls /

In [0]:
dbutils.fs.ls

In [0]:
dbutils.fs.cp

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("app").getOrCreate()

In [0]:
airDF = spark.read.parquet("Workspace/Users/deepakpvinodsharma@gmail.com/ML_Data.parquet")

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.utils import AnalysisException
import time

# Create a Spark session
spark = SparkSession.builder.appName("AirbnbData").getOrCreate()

data = [
    ("Downtown", "Entire home/apt", 1, 1, 9, 100),
    ("Capitol Hill", "Private room", 1, 1, 45, 75),
    ("Ballard", "Entire home/apt", 2, 1, 30, 150),
    ("Queen Anne", "Shared room", 1, 1, 2, 50),
    ("West Seattle", "Entire home/apt", 3, 2, 18, 200)
]

airbnbDF_Schema = ["neighbourhood_cleansed", "room_type", "bedrooms", "bathrooms", "number_of_reviews", "price"]

# Retry mechanism
max_retries = 5
retry_count = 0
while retry_count < max_retries:
    try:
        airbnbDF = spark.createDataFrame(data, schema=airbnbDF_Schema)
        display(airbnbDF.limit(5))
        break
    except AnalysisException as e:
        retry_count += 1
        print(f"Retry {retry_count}/{max_retries} failed: {e}")
        time.sleep(5)  # Wait for 5 seconds before retrying
else:
    print("Failed to create DataFrame after maximum retries.")

In [0]:
df = spark.read.csv("path/to/your/csvfile.csv", header=True, inferSchema=True, mode="failfast")

In [0]:
data = [
    ("Downtown", "Entire home/apt", 1, 1, 9, 100),
    ("Capitol Hill", "Private room", 1, 1, 45, 75),
    ("Ballard", "Entire home/apt", 2, 1, 30, 150),
    ("Queen Anne", "Shared room", 1, 1, 2, 50),
    ("West Seattle", "Entire home/apt", 3, 2, 18, 200)
]

In [0]:
data_schema = ["neighbourhood", "room_type", "bedrooms", "bathrooms", "number_of_reviews", "price"]
data_df = spark.createDataFrame(data, schema=data_schema)

In [0]:
display(data_df)